<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webquiver.lelu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.webquiver.lelu.classes.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDmAScM8u941nhbTeirsKmTsF5zavS0Dv0" />

        <activity
            android:name=".ItemActivity"
            android:label="@string/title_activity_item"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".CartActivity"></activity>
    </application>

</manifest>